extends ../layouts/common.pug

block stylesheet 
    link(rel="stylesheet", href="/css/nhankhau/create.css")

block content
    .tile.d-block.mb-2
        h2 Sửa thông tin xét nghiệm
    form.w-75.d-flex.justify-content-around.mx-auto.mb-3.p-3.formpage(action="/test-covid/"+testCovid._id+"/cap-nhat" method="POST")
        div.mb-1
            .form-div.mb-1
                label.flabel.mb-2(for='name') Họ và tên
                input.form-control(type='text' name='hoVaTen' disabled value=testCovid.nhanKhauId.hoVaTen)
            .form-div.mb-1
                label.flabel.mb-2(for='cmt') Số CMT/CCCD
                input#soCCCDInput.form-control(disabled type='text' name='soCCCD' required value=testCovid.nhanKhauId.soCCCD)
            .form-div.mb-1
                label.flabel.mb-2(for='birth') Ngày sinh
                input.form-control(type='date' name='namSinh' disabled value=testCovid.nhanKhauId.namSinh.toISOString().slice(0,10))
            .form-div.mb-1
                label.flabel.mb-2(for='address') Địa chỉ
                input.form-control(type='text' name='diaChi' disabled value=testCovid.nhanKhauId.diaChi)
            .form-div.mb-1
                label.flabel.mb-2(for='email') Mã hộ khẩu
                input.form-control(type='text' name='maHoKhau' disabled value=testCovid.nhanKhauId.maHoKhau)
        div.mb-1
            .form-div.mb-1
                label.flabel.mb-2(for='testtime') Thời điểm test
                input.form-control(type='datetime-local' name='thoiDiemTest' required value=testCovid.getISOStrTZ())
            .form-div.mb-1
                label.flabel.mb-2(for='tform') Hình thức test
                select.form-select(name='hinhThucTest' required value=testCovid.hinhThucTest)
                    option(value=testCovid.hinhThucTest)=testCovid.hinhThucTest
                    option(value='PCR') PCR
                    option(value='TEST NHANH') Test nhanh
            .form-div.mb-1
                label.flabel.mb-2(for='result') Kết quả
                select.form-select(name='ketQua' required)
                    option(value=testCovid.ketQua)=testCovid.ketQua
                    option(value='CHƯA CÓ') CHƯA CÓ
                    option(value='DƯƠNG TÍNH') DƯƠNG TÍNH
                    option(value='ÂM TÍNH') ÂM TÍNH
            .subm.d-flex.justify-content-around
                button#submitBtn.btn.btn-tung(type='submit') Lưu
                a.btn.btn-tung(href="/test-covid") Hủy
block script
    script(src="/js/notify.js") 
    script(src="/js/getNhanKhau.js") 
