extends ../layouts/common.pug

block stylesheet 
    link(rel="stylesheet", href="/css/nhankhau/create.css")

block content
    .tile.d-block.mb-2
        h2 Thêm thông tin nhân khẩu
    form.d-flex.justify-content-around.w-75.mx-auto.formpage.p-5(action="/nhan-khau/"+nhanKhau._id+"/cap-nhat" method="POST")
        div.mb-1
            .form-div.mb-1
                label.flabel.mb-2(for='name') Họ và tên
                input.form-control(type='text' name='hoVaTen' value=nhanKhau.hoVaTen required)
            .form-div.mb-1
                label.flabel.mb-2(for='cmt') Số CMT/CCCD
                input.form-control(type='text' name='soCCCD' value=nhanKhau.soCCCD required)
            .form-div.mb-1
                label.flabel.mb-2(for='birth') Ngày sinh
                input.form-control(type='date' name='namSinh' value=nhanKhau.namSinh.toISOString().slice(0,10) required)
            .form-div.mb-1
                label.flabel.mb-2(for='sex') Giới tính
                select.form-select(name='gioiTinh' required)
                    option(value=nhanKhau.gioiTinh selected)= nhanKhau.gioiTinh
                    option(value='NAM') Nam
                    option(value='NỮ') Nữ
        div.mb-1
            .form-div.mb-1
                label.flabel.mb-2(for='address' required) Địa chỉ
                input.form-control(type='text' name='diaChi' value=nhanKhau.diaChi)
            .form-div.mb-1
                label.flabel.mb-2(for='sdt') Số điện thoại
                input.form-control(type='text' name='soDienThoai' value=nhanKhau.soDienThoai)
            .form-div.mb-1
                label.flabel.mb-2() Mã hộ khẩu
                input.form-control(type='text' name='maHoKhau' value=nhanKhau.maHoKhau required)
            .form-div.mb-2
                .form-check.ms-1
                    input.form-check-input#chuHo(type="checkbox" name="chuHo" value="true" checked=nhanKhau.chuHo)
                    label.flabel.fs-5.mb-2(for="chuHo") Là chủ hộ
            .form-div.mb-1.d-flex.justify-content-around
                .form-check
                    input.form-check-input#nhapCu(type="radio" name="trangThai" value="" checked)
                    label.flabel.fs-5.mb-1(for="nhapCu") Nhập cư
                .form-check
                    input.form-check-input#moiSinh(type="radio" name="trangThai" value="MỚI SINH" checked=nhanKhau.trangThai == "MỚI SINH")
                    label.flabel.fs-5.mb-1(for="moiSinh") Mới sinh 
                .form-check
                    input.form-check-input#daMat(type="radio" name="trangThai" value="ĐÃ MẤT" checked=nhanKhau.trangThai == "ĐÃ MẤT")
                    label.flabel.fs-5.mb-1(for="daMat") Đã mất
            .subm.d-flex.justify-content-around
                button.btn.btn-tung(type='submit') Lưu
                a.btn.btn-tung(href="/nhan-khau/") Trở về
