extends ../layouts/common.pug

block stylesheet 
    link(rel="stylesheet", href="/css/nhankhau/create.css")

block content
    .tile.d-block.mb-2
        h2 Cập nhật thông tin nhân khẩu
    form.d-flex.justify-content-around.w-75.mx-auto.formpage.p-5.mb-3(action="/nhan-khau/"+nhanKhau._id+"/cap-nhat" method="POST")
        div.mb-1
            .form-div.mb-1
                label.flabel.mb-1(for='name') Họ và tên
                input.form-control(type='text' name='hoVaTen' value=nhanKhau.hoVaTen required)
            .form-div.mb-1
                label.flabel.mb-1(for='cmt') Số CMT/CCCD
                input.form-control(type='text' name='soCCCD' value=nhanKhau.soCCCD required)
            .form-div.mb-1
                label.flabel.mb-1(for='birth') Ngày sinh
                input.form-control(type='date' name='namSinh' value=nhanKhau.namSinh.toISOString().slice(0,10) required)
            .form-div.mb-1
                label.flabel.mb-1(for='sex') Giới tính
                select.form-select(name='gioiTinh' required)
                    option(value='NAM' selected=nhanKhau.gioiTinh == 'NAM') Nam
                    option(value='NỮ' selected=nhanKhau.gioiTinh == 'NỮ') Nữ
        div.mb-1
            .form-div.mb-1
                label.flabel.mb-1(for='sdt') Số điện thoại
                input.form-control(type='text' name='soDienThoai'  pattern='^\\d{9,10}$' value=nhanKhau.soDienThoai)
            .form-div.mb-1
                label.flabel.mb-1() Mã hộ khẩu
                input.form-control(type='text' name='maHoKhau' value=nhanKhau.maHoKhau required  pattern='^[A-Za-z0-9]{0,}' title='Chỉ chứa các ký tự chữ thường và chữ số')
            .form-div.mb-2
                label.flabel.mb-1(for='sex') Trạng thái
                select.form-select(name='trangThai')
                    option(value='' selected=nhanKhau.trangThai == "") Trống
                    option(value='MỚI SINH' selected=nhanKhau.trangThai == "MỚI SINH") Mới sinh
                    option(value='ĐÃ MẤT' selected=nhanKhau.trangThai == "ĐÃ MẤT") Đã mất
                    option(value='NHẬP CƯ' selected=nhanKhau.trangThai == "NHẬP CƯ") Nhập cư
            .subm.d-flex.justify-content-around
                button.btn.btn-tung(type='submit') Lưu
                a.btn.btn-tung(href="/nhan-khau/") Trở về
